@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
}

.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}



/* top section */

.image-container {
    position: relative;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rubik", sans-serif;
    color: #4185f4;
    text-shadow: 0px 0px 12px rgb(255 255 255 / 80%);
}

.img-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    opacity: 0.75;
}



/* bottom section */

.bottom-left {
    flex-direction: column;
    width: 480px;
    text-align: justify;
}

.bottom-left .text img {
    position: relative;
}


.bottom-left .text p {
    margin-top: 10px;
}

.bottom-left .text h1 {
    color: #4185f4;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.bottom-left .text {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 15px;
    width: 480px;
    margin-left: 150px;
}

.icons {
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    margin-left: 150px;
    margin-top: 12px;
}

.icon-item {
    flex-shrink: 0;
    width: 112px;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

.icon-item img {
    object-fit: contain;
    position: relative;
}

.icon-item span {
    display: block;
}

.blue-filter {
    height: 32px;
    filter: brightness(0) saturate(100%) invert(40%) sepia(97%) saturate(609%) hue-rotate(185deg) brightness(101%) contrast(91%);
}


.bottom p {
    margin-top: 5px;
    margin-bottom: 15px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

h1 {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #4185f4;
}

input {
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: rgba(65, 133, 244, 0.08);
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 7px;
}

textarea {
    min-height: 150px;
    max-height: 600px;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: rgba(65, 133, 244, 0.08);
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 7px;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 500;
    border: 0;
    background-color: #4185f4;
    color: #fff;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    width: 120px;
}

.row-section {
    display: flex;
    flex-direction: row;
    width: 1150px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 480px) {
    .image-container{
        margin-top: 70px;
    }
    
    .row-section{
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

   .bottom-left .text{
    margin: 10px 0 10px 50px;
    gap: 1;
    width: 250px;

   }
     
   .bottom-left{
    width: 300px;
   }

    .icon-item{
        width: 50px;
        font-size: 10px;
    }

    .icons{
        gap: 13px;
        margin-left: 30px;
        margin-bottom: 50px;

    }

    .logo{
        width: 35px;
    }

    .logohead{
        font-size: 12px;
        text-align: center;
        width: 200px;
    }
   
    .bottom{
        width: 300px;
        padding-left: 50px;
    }
}