
<div class="navbar">

    <div class="header-logo">
        <a href="#">
            <img src="assets/builtshops.svg" alt="BuiltShops">
        </a>
    </div>
 
    <div class="classes">
    <div class="header-list">
        <button class="header-list-title" >
           Customer Service
        </button>
      
    

    <div class="header-dropdown">
        
        <div class="header-dropdown-container">
        <a routerLink="helppage" class="header-dropdown-card">
            <div class="header-dropdown-card-title">Help Centre</div>
            <span class="header-dropdown-card-desc">Need Help? We got you covered here.</span>
        </a>
        <a routerLink="sell" class="header-dropdown-card">
            <div class="header-dropdown-card-title">Sell</div>
            <span class="header-dropdown-card-desc">How can you sell your product in BuiltShops</span>
        </a>
        <a routerLink="comarketing" class="header-dropdown-card">
            <div class="header-dropdown-card-title">Co-Marketing</div>
            <span class="header-dropdown-card-desc">Create new opportunities for you and BuiltShops</span>
        </a>   
        </div>

        <div class="header-dropdown-container">
            <a routerLink="adverties" class="header-dropdown-card">
                <div class="header-dropdown-card-title">Advertise</div>
                <span class="header-dropdown-card-desc">How can you advertise with us.</span>
            </a>
            <a routerLink="contactus" class="header-dropdown-card">
                <div class="header-dropdown-card-title">Contact Us</div>
                <span class="header-dropdown-card-desc">Have any questions? Reach us and we will help you.</span>
            </a>
            <a routerLink="partners" class="header-dropdown-card">
                <div class="header-dropdown-card-title">Partners</div>
                <span class="header-dropdown-card-desc">Learn more about our industry partners.</span>
            </a>
        </div>
        
    </div>

    </div>




    <div class="header-list1">

        <button class="header-list-title1" >
           About BuiltShops
        </button>
    

    <div class="header-dropdown1" >
        
        <div class="header-dropdown-container1">
        <a routerLink="aboutus" class="header-dropdown-card1">
            <div class="header-dropdown-card-title1">About Us</div>
            <span class="header-dropdown-card-desc1">Learn about BuiltShops, its mission and vision.</span>
        </a>
        <a href="#" class="header-dropdown-card1 disabled">
            <div class="header-dropdown-card-title1">Flash Deals (Coming Soon)</div>
            <span class="header-dropdown-card-desc1">Find out the latest deal available!</span>
        </a>
        </div>

        <div class="header-dropdown-container1">
            <a routerLink="privacypolicy" class="header-dropdown-card1">
                <div class="header-dropdown-card-title1">Privacy Policy</div>
                <span class="header-dropdown-card-desc1">We take your privacy seriously, read more about our privacy statement.</span>
            </a> 
        </div>
        
    </div>

    </div>

</div>

</div>