<footer>
    <div class="footer-container">
        <div class="footer-row-container">
            <nav class="footer-row-nav">
                <div class="follow-us">
                    Follow Us
                </div>
                <a href="" class="logo">
                    <img src="./assets/whatsapp.png" class="logos"
                    alt="whatsapp">
                </a>
    
                <a href="" class="logo">
                    <img src="./assets/instagram.png" class="logos"
                    alt="instagram">
                </a>

                <a href="" class="logo">
                    <img src="./assets/facebook.png" class="logos"
                    alt="facebook">
                </a>
            </nav>
        </div>
        <div class="divider">
           
        </div>

     <div class="footer-link-container">
            <nav class="footer-column-container">
             <div class="footer-column-title">
                Customer Services
             </div>   
             <a href="#" class="column1_links">Help Centre</a>
             <a href="#" class="column1_links">How to Advertise</a>
             <a href="#" class="column1_links">How to Sell</a>
             <a href="#" class="column1_links">Contact Us</a>
             <a href="#" class="column1_links">Co-Marketing with BuiltShops</a>
             <a href="#" class="column1_links">Partners</a>
             <a href="#" class="column1_links" style="pointer-events:none ;">Feedbacks (Coming soon)</a>
            </nav>

            <nav class="footer-column-container">
                <div class="footer-column-title">
                   About BuiltShops
                </div>   
                <a href="#" class="column1_links">About Us</a>
                <a href="#" class="column1_links">Privacy Policy</a>
                <a href="#" class="column1_links" style="pointer-events:none ;">Flash Deals (Coming soon)</a>
               </nav>

               

     </div>
     <div class="divider">
     </div>

     <div class="footer-row-last">
        <div class="footer-column">
            <a href="" class="footer-img">
                <img src="./assets/builtshops-logo.svg" class="logo-img" alt="site-logo">
            </a>
            <span class="copyright">
                ©2022 BuiltShops . All Rights Reserved.
            </span>
        </div>
        <nav class="country-region">
            <div class="country-region-title">
                Country and Region:
            </div>
            <a href="" class="footer-row-img-link">Singapore &nbsp;&nbsp;|</a>
            <a href="" class="footer-row-img-link">Phillipines</a>
        </nav>
     </div>
            
     
    </div>

</footer>