*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

footer{
    background-color: #212223;
width: 100%;
height: auto;
padding: 2rem 4rem 2rem 4rem;
display: flex;
justify-content: center;
}

.footer-container{
    width: 95%;
max-width: 1400px;
}

.footer-row-container{
    display: block;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer-row-nav{
    color: #fff;
height: 32px;
display: flex;
justify-content: left;
align-items: center;
gap: 1rem;
}

.follow-us{
    padding-right: 10px;
}

.logo{
    padding: 0 3px;
}



.logos{
    width: 25px;
    height: 25px;
    opacity: 70%;
}

.logos:hover{
    opacity: 100%;
}

.divider{
    display: flex;
justify-content: center;
align-items: center;
height: 30px;
position: relative;
}

.divider::before{
    content: "";
border-bottom: 1px solid #dadce0;
width: 100%;
display: block;
position: absolute;
top: 15px;
}

.footer-link-container{
    display: flex;

}

.footer-column-container{
    margin: 0 9rem 0 2rem;
}

.footer-column-title{
    color: #fff;
display: flex;
font-size: 1.25rem;
}

footer a{
    color: #dadce0 !important;
display: block;
margin: 1rem 0 1rem 0;
text-decoration: none;
}

footer a:hover{
    color: #fff !important;
}

.footer-row-last{
    display: flex;
justify-content: space-between;
}

.footer-column{
    display: flex;
flex-direction: column;
padding-left: 30px;
gap: 0.25em;
}

.footer-img{
margin: 0 !important;   
padding: 0 !important; 
}

.logo-img{
    width: 230px;
}

.copyright{
    display: inline-block;
font-size: 0.75rem;
color: #fff;
}

.country-region{
    height: 50px;
display: flex;
align-items: center;
gap: 1rem;
padding-right: 45px;
}

.country-region-title {
    height: 40px;
    color: #fff;
  }

.footer-row-img-link{
    display: flex;
align-items: center;
height: 40px;
}

