@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.top{
    margin-top: 60px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* section1 */


.image-container {
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4185f4;
    text-shadow: 0px 0px 12px rgb(255 255 255 / 80%);
    font-weight: 700;
}

.para-text {
    margin-top: 19px;
    color: #333;
    text-shadow: 0px 0px 12px rgb(255 255 255 / 80%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* width: 500px; */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    opacity: 0.75;
}



/* section2 */

.section2 {
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.section2-img {
    position: relative;
    width: 800px;
}

.section2-img-overlay {
    position: absolute;
    top: 28px;
    left: 100px;
    border-radius: 7px;

}

.section2-img-overlay video {
    object-fit: fill;
}




/* section3 */

.section3 {
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.section3 h1 {
    display: flex;
    flex-direction: column;
}

.section3-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
}

.img1 {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 3px 16px rgb(51 51 51 / 20%);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-top: 35px;
    width: 300px;
}

.img1 span {
    text-align: center;
    margin-top: 7px;
    font-weight: 500;
}


/* section4 */

.section4 {
    justify-content: center;
    margin-top: 100px;
}

.section4 h1 {
    text-align: center;
    flex-direction: column;
}


/* section5 */

.section5 {
    justify-content: center;
    flex-direction: column;
    width: 630px;
    margin-left: 50px;
}

.section5-text span {
    font-weight: 500;
    text-align: justify;
}



/* section6 */

.section6 {
    width: 1000px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section6-left {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
}

.section6-right {
    margin-top: 35px;
    flex-direction: row;
    font-weight: 500;
    width: 480px;
}

.section6-right p {
    margin-top: 16px;
    text-align: justify;
}




/* section7 */

.section7 {
    width: 1000px;
    align-items: center;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section7-right {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.section7-left {
    margin-top: 35px;
    flex-direction: row;
    font-weight: 500;
    width: 480px;
}

.section7-left p {
    margin-top: 16px;
    text-align: justify;
}


/* section8 */

.section8 {
    width: 1000px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section8-left {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.section8-right {
    margin-top: 35px;
    flex-direction: row;
    font-weight: 500;
    width: 480px;
}

.section8-right p {
    margin-top: 16px;
    text-align: justify;
}


/* section9 */

.section9 {
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.section9-text {
    text-align: center;
}


/* section10 */

.section10 {
    margin-top: 25px;
    justify-content: center;
}

.iframe {
    width: 1000px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
}




/* section11 */

.section11 {
    margin-top: 100px;
    justify-content: center;
}

h1 {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4185f4;
    align-items: center;
}


/* section12 */


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 500px; */
    margin-top: 1px;
}

input {
    width: 500px;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: rgba(65, 133, 244, 0.08);
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 7px;
}

textarea {
    min-height: 150px;
    max-height: 600px;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: rgba(65, 133, 244, 0.08);
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 7px;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 500;
    border: 0;
    background-color: #4185f4;
    color: #fff;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    width: 120px;
}


.space {
    margin-top: 200px;
}



@media screen and (max-width: 480px){
   .top{
    margin-top: 132px;
   }

   .para-text{
    width: 300px;
    font-size: 12px;
    margin-top: 15px;
   }

   h1{
    font-size: 21px;
    margin-bottom: 20px;
    align-items: center !important;
   }

   input, textarea{
    width: 300px;
   }

   .space{
    padding: 0;
    margin-top: 50px;
   }

   .section2, .section3, .section4, .section6, .section7{
    margin-top: 50px;
   }

   .section3-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   .img1{
    margin-top: 10px;
   }

   .section5-text{
    width: 350px;
    font-size: 13px;
    text-align: justify;
   }

   .section5, .section9{
    width: 350px;
    margin: 0;
    padding: 0;
   }

   .section6, .section8{
    width: 350px;
    display: flex;
    flex-direction: column;
   }

   .section7{
    display: flex;
    flex-direction: column-reverse;
   }

   .section6-left, .section7-right, .section8-left{
    width: 350px;
    height: 350px;
   }

   .section6-right, .section7-left, .section8-right{
    width: 350px;
    font-size: 13px;
   }

   .section8, .section9, .section11{
    margin-top: 50px;
    font-size: 13px;
    font-weight: 500;
   }

   .section10,.iframe,.splvid{
    width: 350px;
    height: 350px;
   }

   .section2-img,.section2,.splimg{
    width: 350px;
    height: 250px;
   }

   .section2-img-overlay{
    left: 42px;
    top: 15px;
   }
   
   .section2-img-overlay video{
    width: 266px;
    height: 207px;
   }
  
   




   
   
 
}
