
    <div class="top">
        <div class="section section1">
            <div class="image-container">
                <img class="image" src="/assets/sellpageimg/r_bg8.png" alt="r_bg8">
                <div class="image-overlay"></div>
                <div class="text">
                    <h1>V-Commerce</h1>
                </div>
                <div class="para-text">The future of E-commerce - Transform your retail store into an immersive and
                    virtual experience
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section section2">
            <div class="section2-img">
                <img src="/assets/sellpageimg/vcom_laptop.png" alt="laptop" class="splimg">
                <div class="section2-img-overlay">
                    <video width="612" height="391" poster="/assets/sellpageimg/vcom_laptop.png" autoplay muted loop>
                        <source src="/assets/sellpageimg/vcom_vid.mp4" type="video/mp4" class="splvid">
                    </video>
                </div>
            </div>
        </div>
        <div class="section section3">
            <h1>FEATURES INCLUDED:</h1>
            <div class="section3-img">
                <div class="img1">
                    <img src="/assets/sellpageimg/vcom_measure.png" alt="measure">
                    <span>Accurate measurements</span>
                </div>
                <div class="img1">
                    <img src="/assets/sellpageimg/vcom_tag.png" alt="Tag">
                    <span>Tag products</span>
                </div>
                <div class="img1">
                    <img src="/assets/sellpageimg/vcom_plan.png" alt="plan">
                    <span>Label floor plan</span>
                </div>
            </div>
        </div>
        <div class="section section4">
            <h1>Improve your customer experience</h1>
        </div>
        <div class="section section5">
            <div class="section5-text">
                <span>Simplify your store management and create a consistent shopping experience both online and
                    in-store for customers. Start by capturing a identical twin of your store digitally with our 134
                    megapixel 3D Camera.</span>
            </div>
        </div>
        <div class="section section6">
            <div class="section6-left">
                <img src="/assets/sellpageimg/vcom_scan.png" alt="scan">
            </div>
            <div class="section6-right">
                <h2>Faster Time to Market</h2>
                <p>Acquiring, constructing, remodeling, or rebranding retail sites require accurate physical details
                    and
                    measurements to collaborate effectively with architectural firms and third-party contractors.
                </p>
                <p>We captures the data needed for more precise bids without time-consuming site visits, and helps
                    to
                    accelerate decision-making. Designers can generate accurate point cloud data directly from a 3D
                    model to quickly create CAD, Revit or SketchUp models. 3D design templates can be easily
                    replicated
                    for other stores.</p>
            </div>
        </div>
        <div class="section section7">
            <div class="section7-left">
                <h2>Better Documentation & Management</h2>
                <p>Digital 3D tours of buildings, property, and assets are a simple and cost-effective way to stay
                    on
                    top of maintenance issues and train employees on new processes. Digital Tags can label equipment
                    within the 3D Space to document repairs, upkeep requests, and training information.</p>
            </div>
            <div class="section7-right">
                <img src="/assets/sellpageimg/vcom_manage.png" alt="scan">
            </div>
        </div>
        <div class="section section8">
            <div class="section8-left">
                <img src="/assets/sellpageimg/vcom_consistent.png" alt="scan">
            </div>
            <div class="section8-right">
                <h2>Consistent shopping experiences</h2>
                <p>We delivers accurate 3D visual representations of your stores and the data behind site
                    management.
                    Accurate measurements of the entire store, dimensions of the aisles, and type of equipment
                    onsite
                    are all important details for each location.
                <p>Use 3D view to plan for merchandising, seasonal and promotional rollouts. Directions to employees
                    can
                    be shared in an easy to understand visual format that is better than lengthy emails and
                    spreadsheets. You can even integrate the 3D Virtual Shop into your existing systems using API.
                </p>
            </div>
        </div>
        <div class="section section9">
            <h1>Gain a competative advantage</h1>
            <div class="section9-text">
                <span>Small or large retailers, we will produce a virtual shop for you.</span>
            </div>
        </div>
        <div class="section section10">
            <div class="section10-iframe">
                <iframe id="ifvtour" class="iframe" frameborder="0"
                    src="https://my.builtshops.com/tour/4408fd78"></iframe>
            </div>
        </div>
        <div class="section section11">
            <h1>Get your virtual shop now!</h1>
        </div>
        <div class="section section12">
            <form class="contact-form">
                <input type="text" id="name" name="name" placeholder="Enter your name">
                <input type="text" id="email" name="email" placeholder="Enter a valid email address">
                <input type="text" id="number" name="number" placeholder="Contact Number (optional)">
                <textarea type="text" id="message" name="message"
                    placeholder="Type your question or message if any..."></textarea>
                <button type="button" onclick="sendEmail('advertise')" value="Send an Email">Submit</button>
            </form>
        </div>
    </div>
    <div class="space"></div>


