<div class="main">
    <div class="about">
      <div class="about-img-container">
        <img src="assets/aboutus.png" class="bg-img" alt="aboutus">
        <div class="about-img-overlay"></div>
        <div class="aboutus-text">
            <h1 class="heading">About Us</h1>
        </div>
      </div>
    </div>

    <div class="section">
        <h1 class="black">BuiltShops Story</h1>
        <div class="section-text">
            <p class="para">
                BuiltShops is the first virtual mapping platform and one-stop shop in Singapore that brings together a myriad of home renovation services from furniture showrooms, appliances stores to utility shops, and more.
            </p>
            <p class="para">
                The founder, Webb Poh, was inspired by his personal journey in the construction business focusing on renovation-centric projects in the past 15 years. He realised that this process may come off as daunting or overwhelming to first-timers, especially those who want to renovate their homes themselves.
            </p>
            <p class="para">
                BuiltShops has also further advanced the shopping experience through the integration of virtual reality on the virtual shopping platform. This will allow customers to save time and showrooms through VR recorded simulations and videos from the comforts of their homes and offices through their mobile devices, making their renovation experience more efficient and fuss-free.
            </p>
            <p class="para">
                Currently, there are over 200 shops onboard BuiltShops' map and the team is in the midst of reaching out to more household brands through collaboration with partners. Out of this significant figure, there is an increasing number of furniture shops and vendors who have had their store 3D scanned to be included in the VR experience for customers. Moving forward, BuiltShops plans to further expand and regionalise their services beyond Singapore to Malaysia, India and Philippines.
            </p>
        </div>
    </div>
</div>