@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
}

.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

/* top section */

.image-container {
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4185f4;
    text-shadow: 0px 0px 12px rgb(255 255 255 / 80%);
}

.img-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    opacity: 0.75;
}



/* bottom section */

.row-section {
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    width: 100%;
    margin-top: 45px; 
}

.text p {
    margin-top: 10px;
}

.text {
    display: block;
    text-align: justify;
    font-size: 1rem;
    width: 480px;
    margin-left: 150px;
}

.middle{
    margin-bottom: 20px;
}

.bottom {
    width: 450px;
}

.bottom p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 15px;
}

 

.contact-form { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

h1 {
    font-family: "Rubik",sans-serif;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #4185f4;
}

input {
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: rgba(65, 133, 244, 0.08);
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 7px;
}

textarea {
    min-height: 150px;
    max-height: 600px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: rgba(65, 133, 244, 0.08);
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 7px;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 500;
    border: 0;
    background-color: #4185f4;
    color: #fff;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    width: 120px;
}



@media (max-width: 480px){
.image-container{
    margin-top: 70px;
}
.row-section{
    display: flex;
    flex-direction: column;
}
.middle{
    width: 300px;
    margin: 0;
    padding: 0;
}
p{
    width: 300px;
    margin: 0;
    padding: 0;
}
.text{
    margin: 0;
    padding: 0;
}
.bottom{
    width: 300px;
}
}

